<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.predictor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Predictor"
        tools:replace="android:theme">
        <activity android:name=".Clinical_Psycho"></activity>
        <activity android:name=".Counsellor" />
        <activity android:name=".Psychologist" />
        <activity android:name=".Journalist" />
        <activity android:name=".Archivist" />
        <activity android:name=".Teacher" />
        <activity android:name=".Consultant" />
        <activity android:name=".Manager" />
        <activity android:name=".Statistician" />
        <activity android:name=".Financial_Analyst" />
        <activity android:name=".Auditor" />
        <activity android:name=".Career_Data" />
        <activity android:name=".Loading" />
        <activity android:name=".Career_Predictor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>